@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --fontFamily: "Roboto", sans-serif;
  --mainColor: #00669f;
  --secondaryColor: #1cd1b0;
  --thirdColor: #ffffff;
  --fourthColor: #cc2424;
  --main-bg-color: #f3f3f3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
}

#desc {
  background: var(--secondaryColor);
  padding-left: 20px;
  position: relative;
}

header {
  background: var(--mainColor);
  color: var(--thirdColor);
  padding: 20px;
  position: sticky;
  z-index: 10;
  top: 0;
  position: sticky;
}

header h1 {
  font-weight: 400;
}

.cards-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 320px;
  margin: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
}

.img-bg {
  height: 210px;
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
}

.img-bg i {
  color: var(--fourthColor);
  left: 15px;
  top: 15px;
  position: absolute;
  cursor: pointer;
}

.bg-1 {
  background-image: url("../img/bg-batman.jpg");
}

.bg-2 {
  background-image: url("../img/bg-wonderw.jpg");
}

.bg-3 {
  background-image: url("../img/bg-superman.jpg");
}

.card-content {
  height: 360px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 40px 10px 0px 10px;
  background: var(--main-bg-color);
}

.card-content img {
  position: absolute;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  top: -52px;
  background-repeat: no-repeat;
  background-size: 289.4%;
  background-position-x: 57%;
}

.btn {
  padding: 10px;
  color: var(--thirdColor);
  background: var(--mainColor);
  border-radius: 7px;
}

.plus {
  display: none;
  position: absolute;
  border-radius: 50%;
  padding: 20px;
  right: 3%;
}

/* footer */
footer {
  background: var(--mainColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px;
  color: var(--thirdColor);
}

@media screen and (min-width: 1280px) {
  .plus {
    display: unset;
  }
}
